/*======================================================
FOOTER
======================================================*/

.footer{

    background:#071728;

    padding:90px 0 45px;

    border-top:1px solid rgba(255,255,255,.05);

}

.footer .container{

    text-align:center;

}

.footer-logo img{

    width:290px;

    margin:0 auto 45px;

    display:block;

}

.footer-description{

    max-width:700px;

    margin:0 auto;

    color:var(--color-text);

    font-size:1.12rem;

    line-height:2;

}

.footer-divider{

    width:100px;

    height:1px;

    background:rgba(212,175,55,.45);

    margin:60px auto;

}

.footer-contact{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:26px;

    flex-wrap:wrap;

    color:var(--color-text);

    margin-bottom:60px;

}

.footer-contact a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

.footer-contact a:hover{

    color:var(--color-gold);

}

.footer-contact p{

    margin:0;

    color:var(--color-text);

}

.footer-contact span{

    color:rgba(212,175,55,.45);

}

.footer-copy{

    color:rgba(255,255,255,.45);

    font-size:.90rem;

}

.footer-signature{

    margin-top:50px;

    margin-bottom:26px;

    color:var(--color-gold);

    font-family:var(--font-title);

    font-size:1.55rem;

    font-weight:500;

    line-height:1.5;

    letter-spacing:.4px;

}